.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.section {
  margin-top: $separation / 2;
  margin-bottom: $separation / 2;
}

.centric-content {
    max-width: 80rem;
}

.align-right {
  display: flex;
  justify-content: flex-end;
}

.border-radius {
  border-radius: 1rem;
}