@include tablet {
  .container-ads {
     @include grid(3,2rem);
  }
}

.ad {
  background-color: lighten($gray, 5);
  border: 1px solid darken($gray, 10);

  .container-ad {
    padding: 2rem;
  }

  h3,p {
    margin: 0;
  }

  .price {
    color: $green;
    font-weight: $bold;
    font-size: 2.4rem;
  }
}

.characteristic-icons {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-evenly;

    li {
      flex: 1; //toman todo el espacio disponible cada contenido para que midan lo mismo
      display: flex;
      justify-content: center;
      img {
        // flex: 0 0 5rem;
        margin-right: 1rem;
      }

      p {
        font-weight: $bolder;
      }
    }
}